# Eclipse project files
.classpath
.project
.settings/


# Intellij project files
*.iml
.idea/

# Others
target/
myexample/logs/

#/src/main/resources/application.local.properties
#/src/test/resources/application.test.local.properties